* {text-align: center;}
body {background-color: rgb(68, 13, 34)}
h1 {color: rgb(196, 137, 82);}
h3 {color: rgb(68, 13, 34); background-color: rgb(230, 133, 197);}
h2 {color: rgb(230, 133, 197);}
p {color: antiquewhite;}
.list {color: antiquewhite;}